# LABORATORIO 1

## Entendimiento de los Datos

In [15]:
#Carga de librerias

import numpy as np
import pandas as pd

#from joblib import dump, load

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

import scipy.stats as stats

1.2 Carga de los Datos

In [16]:
#Carga de datos

df = pd.read_csv('./training_data.csv')
data= df.copy()

1.3 Información Basica de los Datos

In [20]:

#info
data.info()

#Muestra de primeros datos
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   objid     4000 non-null   int64
 1   ra        4000 non-null   float64
 2   dec       4000 non-null   float64
 3   u         4000 non-null   float64
 4   g         4000 non-null   float64
 5   r         4000 non-null   float64
 6   i         4000 non-null   float64
 7   z         4000 non-null   float64
 8   run       4000 non-null   int64
 9   camcol    4000 non-null   int64
 10  field     4000 non-null   int64
 11  score     4000 non-null   float64
 12  clean     4000 non-null   int64
 13  class     4000 non-null   object
 14  redshift  4000 non-null   float64
 15  mjd       4000 non-null   int64
 16  rowv      4000 non-null   float64
 17  colv      4000 non-null   float64
dtypes: float64(11), int64(6), object(1)
memory usage: 562.6+ KB

,objid,ra,dec,u,g,r,i,z,run,camcol,field,score,clean,class,redshift,mjd,rowv,colv
0,1237648722306924571,185.574486,0.701402,19.11034,17.62099,17.03464,16.82993,16.71711,756,5,466,0.864145,1,STAR,8.780529e-05,54140,0.002418,0.001363
1,1237648720167436418,203.801841,-0.853906,18.90957,17.62940,17.01465,16.62059,16.35239,756,1,588,0.816541,1,GALAXY,8.619995e-02,51955,0.008650,0.007056
2,1237648720685105352,160.034264,-0.421626,19.26340,17.67693,16.82551,16.42307,16.13864,756,2,295,0.870381,1,GALAXY,1.330486e-01,51913,0.003938,-0.002028
3,1237648703510937836,200.807373,-0.682024,18.82022,17.77765,17.38575,17.11128,16.93540,752,2,382,0.867801,1,GALAXY,8.636355e-02,51959,0.001839,0.001160
4,1237648720161275992,189.792404,-1.001480,18.91391,19.05355,19.46278,19.75660,20.09613,756,1,494,0.833824,1,STAR,-4.090000e-08,54562,0.001929,-0.000465

In [ ]:
#Dimension de los datos
data.shape

(4000, 18)

1.4 Estadisticas/Distribución de los Datos

In [7]:
data.describe()

,objid,ra,dec,u,g,r,i,z,run,camcol,field,score,clean,redshift,mjd,rowv,colv
count,4.000000e+03,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,1.237649e+18,185.523295,0.248959,18.609049,17.363397,16.839856,16.597712,16.439392,743.829000,3.37625,419.602000,0.851765,0.895500,0.134015,52957.124750,0.000218,-0.000090
std,4.244222e+11,41.689446,2.001075,0.839431,0.950964,1.055343,1.141252,1.190502,98.865936,1.69909,167.162063,0.071311,0.305946,0.379742,1601.148131,0.008794,0.007457
min,1.237646e+18,10.469743,-1.252763,13.551780,12.974870,12.362850,12.010790,11.799530,211.000000,1.00000,19.000000,0.301912,0.000000,-0.003322,51608.000000,-0.264516,-0.168807
25%,1.237649e+18,162.474666,-0.631824,18.170375,16.796110,16.190785,15.870782,15.628205,752.000000,2.00000,311.000000,0.836866,1.000000,0.000106,51821.000000,-0.001212,-0.001609
50%,1.237649e+18,195.815451,0.053336,18.843745,17.472525,16.850835,16.571195,16.402665,756.000000,3.00000,434.000000,0.860675,1.000000,0.032038,51986.000000,0.000322,0.000125
75%,1.237649e+18,214.348425,0.593396,19.261563,17.997818,17.506640,17.258833,17.147037,756.000000,5.00000,527.000000,0.879834,1.000000,0.086479,54468.000000,0.001698,0.001672
max,1.237650e+18,249.758313,13.854010,19.599750,22.497450,22.265960,28.179630,20.847690,1035.000000,6.00000,812.000000,0.961145,1.000000,4.192597,58932.000000,0.181871,0.128814

In [8]:
#Entendimiento del tipo de los datos
data.dtypes

objid         int64
ra          float64
dec         float64
u           float64
g           float64
r           float64
i           float64
z           float64
run           int64
camcol        int64
field         int64
score       float64
clean         int64
class        object
redshift    float64
mjd           int64
rowv        float64
colv        float64
dtype: object

1.5 Calidad de los Datos

In [ ]:
#Completitud 
data.isnull().sum()

objid       0
ra          0
dec         0
u           0
g           0
r           0
i           0
z           0
run         0
camcol      0
field       0
score       0
clean       0
class       0
redshift    0
mjd         0
rowv        0
colv        0
dtype: int64

In [24]:
#Filas duplicadas
data.duplicated().sum()

np.int64(17)

In [ ]:
#Verifación de Valores Fuera de Rango

#Redshift es una distancia, no puede ser negativa
print("Redshift negativos:", (data["redshift"] < 0).sum())
#El score debe estar entre 0 y 1
print("Score fuera de rango:", ((data["score"] < 0) | (data["score"] > 1)).sum())
#clean solo puede tener dos valores 1 y 0 (Es confiable o no)
print("Valores únicos en 'clean':", data["clean"].unique())

Redshift negativos: 648
Score fuera de rango: 0
Valores únicos en 'clean': [1 0]

1.6 Datos Categoricos

In [ ]:
#indica cantidad de variables confiables (1) o no (0)
data["clean"].value_counts()

clean
1    3582
0     418
Name: count, dtype: int64

In [ ]:
#Indicando la cantidad de tipos de cuerpos celestes
data["class"].value_counts()

class
GALAXY    1857
STAR      1629
QSO        292
S          177
G           44
QUASAR       1
Name: count, dtype: int64